@import "tailwindcss";

* {
  box-sizing: border-box;
}

@utility container {

  width: 100%;
  padding-inline:10px;
  margin: 0 auto;

  @variant lg{
    padding-inline:20px;
  }

  @variant 2xl {
    width: 1339px;
    padding-inline:0px;
  }
}

@keyframes swipe {
  0% {
      left: -30%;
  }
  100% {
      left: 140%;
      opacity: 0;
  }
}

::-webkit-scrollbar{
  width: 5px;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb{
  background-color: #0647AC;
}

.maskImage{
  position: relative;
  margin-inline:auto;
  overflow: hidden;
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 80%);
}

.swiper{
  height: 480px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}